.page4 {
	height: 750px;
}

.days-font {
	font-family: "Allura", cursive;
	font-weight:normal;
    font-size: 45px;
    color: #2C7575;
    
}

.center-content-page4 {
    width: 100%;
    margin: 0 auto;
}

.signature {
	font-size: 12px;
}

.video-container {
    position: relative;
    z-index: 2;
}

.video-bg {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
    object-fit: cover;
}

.countdown-container {
	background: linear-gradient(90deg, #ffe0e0, #ffe0ff );
	opacity: 0.7;
}