.section1 {
    background-image: url('../../../../assets/images/img3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 900px;
}

.image {
        height: auto;
        max-width: 100%;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
}

.padding-100 {
    padding: 125px 0 5px
}

.padding-top-40 {
    padding-top: 40px
}

.center-content {
    width: 50%;
    margin: 0 auto;
}

p {
    font-family: "Questrial", Sans-serif;
    font-size: 20px;
}

.walimatul-font {    
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 50px;
}

.margin-top-20 {
    margin-top: 20px;
}

.name-font {
    font-family: "Dancing Script", cursive;
    font-size: 70px;
    color: #2C7575;
    
}
