.center {
	justify-content: center!important; 
}

.margin-right{
	margin-right:0.2rem;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.inline-block{
	display:inline-block!important;
}

.width-100{
	width: 100%;
}

.width-25{
	width: 25%;
}

.padding-0{
	padding: 0!important;
}
.padding-top-40 {
    padding-top: 40px
}

.center-content {
    width: 50%;
    margin: 0 auto;
}

p {
    font-family: "Questrial", Sans-serif;
    font-size: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.image {
        height: auto;
        max-width: 100%;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
}

.padding-100 {
    padding: 125px 0 5px
}

.padding-top-40 {
    padding-top: 40px
}

.padding-top-20 {
    padding-top: 20px
}

.center-content {
    width: 50%;
    margin: 0 auto;
}

.walimatul-font {    
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 50px;
}

.margin-top-20 {
    margin-top: 20px;
}